.grid-wrapper {
  display: grid;
  height: 100dvh;
  grid-template-columns: 20% 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: monospace;
  background-color: #001aff;
  padding: 20px;
  text-align: center;
  color: white;
}
main {
  padding: 20px;
  background-color: white;
  color: #001aff;
  overflow-y: scroll;
  padding-block: 1rem;
  text-align: left;
}
footer {
  background-color: #001aff;
  padding: 10px;
  text-align: center;
  padding-block: 1em;
  color: white;
}
aside {
  background-color: #1e00ff;
  color: white;
}

aside > img {
  max-width: 100%;
}

.icon-1 {
  color: #f5d800;
}
